:root {
  --border-radius: 16px;
  --font-size: 10px;
  --box-shadow: 0 0 16px 0 #00000044;
  --transition: all 0.3s ease-in-out;

  --palette-1: #faf7fd;
  --palette-2: #917acf;
  --palette-3: #c594c2;
  --palette-4: #b8d6fe;
  --palette-5: #af8ac9;
  --palette-6: #1e1551;
  --palette-7: #ca769f;
  --palette-8: #438597;
  --palette-9: #58409a;

  --palette-ferrari-1: hsl(351, 95%, 53%);
  --palette-ferrari-2: hsl(351, 94%, 81%);
  --palette-mercedes-1: hsl(224, 63%, 39%);
  --palette-mercedes-2: hsl(168, 54%, 63%);
  --palette-red_bull-1: hsl(345, 79%, 50%);
  --palette-red_bull-2: hsl(242, 75%, 39%);
  --palette-aston_martin-1: hsl(65, 100%, 63%);
  --palette-aston_martin-2: hsl(164, 45%, 38%);
  --palette-mclaren-1: hsl(226, 100%, 50%);
  --palette-mclaren-2: hsl(27, 91%, 54%);
  --palette-alpine-1: hsl(206, 91%, 9%);
  --palette-alpine-2: hsl(201, 72%, 48%);
  --palette-williams-1: hsl(191, 61%, 27%);
  --palette-williams-2: hsl(191, 71%, 54%);
  --palette-haas-1: hsl(0, 0%, 0%);
  --palette-haas-2: hsl(206, 5%, 73%);
  --palette-alfa-1: hsl(0, 0%, 100%);
  --palette-alfa-2: hsl(348, 63%, 48%);
  --palette-alphatauri-1: hsl(216, 100%, 5%);
  --palette-alphatauri-2: hsl(201, 31%, 52%);
}
